.icon_button{
  margin-top: -32px;
}

.icon_button_effect{
  color: #555555;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  padding-left: 6px;
  padding-top: 10px;
}

.icon_button_effect:hover{
  cursor: pointer;
}

.icon_button_active{
  color: #999999;
  padding-left: 7px;
  padding-top: 11px;
}

#topNavigationLeft{
  float: left;
  margin-left: 20px;
  border-left: 1px solid rgba(0,0,0,0.5);
}

.left_nav_button{
  float: left;
  border-right: 1px solid rgba(0,0,0,0.5);
  box-shadow: -1px -1px 4px rgba(0,0,0,0.5);
  width:50px;
  height:40px;
}