#topNavigationRight{
  float: right;
}

.right_nav_button{
  float: left;
  border-left: 1px solid rgba(0,0,0,0.5);
  box-shadow: -1px -1px 4px rgba(0,0,0,0.5);
  width:50px;
  height:40px;
}