/* override default ui slider style for route view */ 
.ui-slider .ui-slider-handle{
	height: 40px;
	margin-bottom: -20px;
	border: 1px solid rgba(85, 85, 85, 0.6);
      
    width: 5px;
    background: none;
    background-clip: content-box;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    left: 0;
}

.ui-slider-vertical{
	width: 0;
	border: 0 none;
}

/* remove company information of google map route panel */
.adp-placemark{
	margin-top: 10px;
	margin-bottom: 1px;
}

#adp-placemark{
	margin-top: 1px;
	margin-bottom: 10px;
}

/* bottom right siderbar Google Map*/
#bottom-right_sidebar
{
	background-color: #F2F4F8;
	/*border-left: 1px solid rgba(0, 0, 0, 0.4);
	border-top: 1px solid rgba(0, 0, 0, 0.4);*/
	position: fixed;
	/*border-radius: 5px 0px 0px 0px;*/
	box-shadow: -1px -1px 5px rgba(0,0,0,0.8);
	right: 0;
	bottom: 0;
	z-index: 1000;
}

#bottom-right_sidebar_contentWrapper
{
	/*display: block;*/
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCD0DB;
	box-shadow: 0 1px #FAFAFA inset;
	padding: 4px;
}

#event_search_map_canvas
{
	position: relative;
}


#event_search_map_canvas div[style*="1000000"]
{
	display: none;
}

#event_search_map_canvas div[style*="1000001"]
{
	display: none;
}

#event_route_content div.adp-warnbox
{
	display: none;
}

#event_route_content div.adp-legal
{
	display: none;	
}


#event_sidebar_separatorWrapper
{
	padding-top: 5px;
    padding-bottom: 5px;
}

#event_sidebar_separator
{
    width: 100%;
    height: 1px;
    background: none repeat scroll 0 0 #CCD0DB;
}

#event_route_panel
{
	width: 100%;
	float: left;
	overflow: hidden;
}

#route_slider_wrapper
{
	padding-top:20px;
    padding-bottom:20px;
}
