#eventUnorderedList
{
	min-height: 100px;
}

.eventListItem
{
	padding-bottom: 10px;
	padding-top: 10px;
	border-color: #E9E9E9;
	border-width: 1px 0 0 0;
	border-style: solid;
	display: block;
		
}

.eventEntryContent
{
	
}

.innerEventEntryContent
{

}

.eventImageLink
{
	margin-right: 10px;
	float: left;
}

.eventImage
{
	display: block;
	height: 50px;
	width: 50px;
}

.eventDetailContent
{
	display: table-cell;
	vertical-align: top;
	width: 10000px;
}

.eventContentWrapper
{
	
}

.eventHeading
{
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	margin: 0 0 5px;
	word-wrap: break-word;
}

.eventHeadingDiv
{
	font-weight: bold;
	padding-bottom: 3px;
}

.eventDescription
{
	margin-bottom: 10px;
	margin-top: 10px;
}

.innerEventDescription
{   
}

.eventDescriptionImageLink
{
	margin-right: 10px;
	float: left;
}

.eventDescriptionImage
{
	max-height: 90px;
	max-width: 90px;
	display: block;
}

.eventDescriptionText
{
	color: #808080;
    font-weight: normal;
	font-size: 11px;
	display: table-cell;
	vertical-align: top;
	width: 10000px;
}

.topDescriptionText
{
	color: #333333;
	word-wrap: break-word;
}

.bottomDescriptionText
{
	color: #808080;
	margin-top: 5px;
	word-wrap: break-word;
}

.eventFooter
{
	color: #999999;
}

.eventFooterImage
{
	display:block;
	margin-right: 5px;
	float: left;
}

.eventFooterContent
{
	padding-top: 1px;
	display: table-cell;
	vertical-align: top;
	width: 10000px;
}

.eventFooterText1
{
	/*color: #6D84B4;*/
	color: #999999;
	cursor: pointer;
	text-decoration: none;
	line-height: 13px;
	/*font-family: "lucida grande",verdana,arial,sans-serif*/
}

.eventFooterText2
{
	color: #999999;
	cursor: pointer;
	text-decoration: none;
	font-family: "lucida grande",verdana,arial,sans-serif
}
